

@import url("https://fonts.googleapis.com/css2?family=Alef");
@import url("https://fonts.googleapis.com/css2?family=Corben");


/*illustrations images*/

.one { 
	background-color: blue;
	width: 200px;
}

.albedo {
	background-image: url("../img/atsumu.png");
}



body {
    background-color: black;
	margin: 0 auto;
}

.navigation {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-family: "Helvetica";
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vw;
  text-decoration: none;
  margin-bottom: 2vh;
}

a:link {
	color: rgb(255, 255, 255);
	text-decoration: none;
  }

  
a:visited {
	color: rgb(255, 255, 255);
  }

  a:hover {
	color: #a84c2c;
  }
  
.navlink {
	font-family: "Helvetica";
	font-size: 1.2em;
	color: white;
	text-decoration: none;
}
.portfolio-logo{
	height: 20vw;
	width: 20vw;
	display: flex;
	justify-content: center;
	margin: auto;
	padding-top: 10vw;
}

.header-image{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	padding-bottom: 10vw;
}

.wrapper { 
	padding:0;
	margin:0;
}

.gallery {
	width: 95%;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	box-sizing: border-box;
}

  .gallery img:hover {
	opacity: .5;
	filter: brightness(100%);
	transition: transform 1.2s;
	transform: scale(1.1);
	z-index: 1;
  }
  

footer { 
	font-size: 16px;
	text-align: center;
	font-family: "Helvetica";
	font-style: italic;
	padding-bottom: 5vw;
	padding-top: 5vw;
	background-color:#a84c2c;
	color: black;
  }

  .wrapper {
	padding: 75px 0;
	margin: 0 auto;
	width: 1140px;
}

.gallery-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 70vh;
}
.item {
	flex: 1;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: none;
	transition: flex 0.8s ease;
}
.item:hover {
	flex: 2;
}

  .item-1 { 
	background-image: url("../img/hqcsm.png");
  }
  
  .item-2 { 
	background-image: url("../img/sakusa.png");
  }
  
  .item-3 { 
	background-image: url("../img/yamaguchi.jpg");
  }
  
  .item-4 { 
	background-image: url("../img/atsumu.png");
  }
  
  .item-5 { 
	background-image: url("../img/tkym.png");
  }



/*stretch vertically*/


.gallery div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

hr {
	width: 75%;
	margin-bottom: 5vh;
}

.horiz {
	margin: 0 auto;
}

.vert {
	margin: 0 auto;
}

/*responseive*/

@media(min-width: 900px)
{ 
	.gallery {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.art {
		margin: 0;
		border: 0px;
	}
}